* {
    background-color: black;
    border: 0;
    margin: 0;
}

#canvas1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#images {
    display: none;
}

#main {
    position: absolute;
    top: 5px;
    left: 50%;
    translate: -50% 0;
    width: 350px;
    padding: 10px;
}
#mainButtons {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 3px;
}
#mainButtons button {
    color: white;
    width: 60px;
    scale: 1.1;
    font: 15px Consolas;
    background: rgb(36, 36, 36);
}

#infos {
    position: absolute;
    top: 150px;
    left: 20%;
    translate: -50% 0;
    height: 350px;
    padding: 10px;
    background-color: brown;
    color: antiquewhite;
}
#infos div {
    background-color: brown;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 3px
}
#infos div button {
    color: white;
    background-color: brown;
    width: 60px;
    scale: 1.1;
    font: 15px Consolas;
}
#infos div label {
    color: white;
    background-color: brown;
    font: 15px Consolas;
    margin-right: 3px;
}
#infos div input {
    color: white;
    background-color: rgb(78, 72, 72);
    width: 50px;
    font: 15px Consolas;
}


#leftButton {
    scale: 2;
    color: white;
    background: rgb(153, 153, 153);
    position: absolute;
    left: 10%;
    top: 75%;
    width: 60px;
    height: 30px;
}
#rigthButton {
    scale: 2;
    color: white;
    background: rgb(153, 153, 153);
    position: absolute;
    right: 10%;
    top: 75%;
    width: 60px;
    height: 30px;
}
#jumpButton {
    scale: 2;
    color: white;
    background: rgb(153, 153, 153);
    position: absolute;
    right: 10%;
    top: 40%;
    width: 60px;
    height: 30px;
}

#uiButton {
    scale: 1.5;
    position: absolute;
    color: white;
    font: 15px Consolas;
    background: rgb(36, 36, 36);
    right: 30%;
    top: 50%;
}


